@font-face {
    font-family: "CaviarDreams";
    src: url(CaviarDreams.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(Comfortaa.ttf);
}

@font-face {
    font-family: "LinuxLibertine";
    src: url(LnxLibertine.ttf);
}

@font-face {
    font-family: "CallingCode";
    src: url(CallingCode.ttf);
}

html, body {
    height: 99%;
}

table {
    height: 62%;
}

.title {
    text-align: center;
}

.timg {
    width: 10%;
}

h1 {
    font-family: "CaviarDreams";
    font-size: 300%;
}

h2 {
    font-family: "Comfortaa";
    font-size: 230%;
}

h3 {
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 170%;
}

p, li {
    font-family: "LinuxLibertine";
    font-size: 110%;
}

code {
    font-family: "CallingCode";
    background-color: #36363a;
    color: white;
    border: solid 1px #36363a;
    font-size: 90%
}

a {
    color: #1A5276;
}

a.no {
    color:  #000000;
    text-decoration: none;
}

thead {
    height: 20%;
}

tbody, td {
    height: 80%
}

.left_panel {
    width: 200px;
    height: 100%;
}

.right_panel {
    width: calc(100% - 200px);
    height: 100%;
}

#summary {
    height: 100%;
    overflow: scroll;
}

#docs_content {
    height: 100%;
    overflow: scroll;
}